<!doctype html>
<html>
    <head>
        <title>Admin | Home</title>
        <meta charset="Utf-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="description" content="A robust, hihgly scalable, user friendly, seo optiomized Admin dashboard for ecommerce web site with great functionality and features by virtue">
        <meta name="keywords" content="E-commerce, ecommerce, dashboard, robust, seo optimized, scalable">
        <meta name="author" content="Egerega Virtue">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="dashboardStyles/standards.css" >
        <link rel="stylesheet" href="dashboardStyles/mediaqueries.css" >
        <link rel="stylesheet" href="dashboardStyles/custom.css" >
        
        <!--bootstrap css and js -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    <style>
        
    </style>
    <body >
        <!--classes are named to get precedence over bootstrap modal -->
        <div class="modal-wrapper" id="modal">
            <div class="modal-container">
                <div class="my-modal-header">
                    <h3 id="modal-title">Image Upload Error</h3>
                </div>
                <div class="my-modal-body">
                    <p id="modal-body">
                        You can select up to 5 images but not more. Kindly repeat the previous action correctly
                    </p>
                </div>
                <div class="modal-footer">
                    <div>
                        <button class="modal-close-btn" id="close-modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            
            <section >
                <div class="rows mother-row">
                    <div class="menu-wrapper " id="menu_wrapper">
                        
                        <div class="menu_drop_down">
                            <ul class="">
                                <div class="menu-close-wrap lg-nodisplay">
                                    <div>&nbsp;</div>
                                    <div class="close-menu" id="menu-close-button" ><i class="bi bi-x"></i></div>
                                </div>
                                
                                <!--  people -->
                                <li class="content-description">People</li>

                               
                                    <li class="menu-li-item"><a href="#" onclick="showMenuChild('child-list-admin'); return false;" role="button"> <i class="bi bi-people"></i><span>Admins</span> <i class="bi bi-chevron-right"></i></a></li>
                                    <section  class="child-list" id="child-list-admin" >
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-person-lines-fill"></i><span>Admin List</span></a></li>
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-person-check"></i><span>Verify Admin</span></a></li>
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-envelope"></i><span>Mail Admin</span></a></li>
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-person"></i><span>Super Admin</span></a></li>

                                    </section>
                               

                                
                                    <li class="menu-li-item"><a href="#" onclick="showMenuChild('child-list-user'); return false;" role="button"> <i class="bi bi-person-circle"></i><span>Users</span> <i class="bi bi-chevron-right" id="carret-opener"></i></a></li>
                                    <section class="child-list" id="child-list-user">
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-person-lines-fill"></i><span>Users List</span></a></li>
                                        
                                    </section>
                                
                                <!-- end of people -->

                                <!-- Store Inventory -->
    
                                <li class="content-description">Store Inventory</li>
                                
                                    <li class="menu-li-item"><a href="#" onclick="showMenuChild('child-list-brand'); return false;" role="button"> <i class="bi bi-shield-check"></i><span>Brands</span> <i class="bi bi-chevron-right"></i></a></li>
                                    <section class="child-list" id="child-list-brand">
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-list"></i><span>Brand List</span></a></li>
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-plus"></i><span>Add Brand</span></a></li>
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-pen"></i><span>Edit Brand</span></a></li>

                                    </section>

                                
                                <li class="menu-li-item"><a href="#" onclick="showMenuChild('child-list-category'); return false;" role="button"> <i class="bi bi-boxes"></i><span>Categories</span> <i class="bi bi-chevron-right"></i></a></li>
                                    <section  class="child-list" id="child-list-category">
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-list"></i><span>Category List</span></a></li>
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-plus"></i><span>Add Category</span></a></li>
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-pen"></i><span>Edit Category</span></a></li>
                                    </section>

                                
                                <li class="menu-li-item"><a href="#" onclick="showMenuChild('child-list-product'); return false;" role="button"> <i class="bi bi-box-seam"></i><span>Products</span> <i class="bi bi-chevron-right"></i></a></li>
                                    <section class="child-list" id="child-list-product">
                                        <li class="menu-li-item content"  ><a href="#"> <i class="bi bi-list"></i><span>Product List</span> </a></li>
                                        <li class="menu-li-item content"  ><a href="#"> <i class="bi bi-plus"></i><span>Add Product</span> </a></li>
                                        <li class="menu-li-item content"  ><a href="#"> <i class="bi bi-pen"></i><span>EditProduct</span> </a></li>
                                    </section>
                                <!-- end of Store Inventory -->

                                <!-- Sales & Coupons-->
                                <li class="content-description">Sales & Coupons</li>
                                
                                    <li class="menu-li-item"><a href="#" onclick="showMenuChild('child-list-order'); return false;" role="button"> <i class="bi bi-cart4"></i><span>Orders</span> <i class="bi bi-chevron-right"></i></a></li>
                                    <section class="child-list" id="child-list-order" >
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-list"></i><span>Order List</span></a></li>
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-plus"></i><span>Add Order</span></a></li>
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-pen"></i><span>Edit Order</span></a></li>

                                    </section>

                                
                                <li class="menu-li-item"><a href="#" onclick="showMenuChild('child-list-purchase'); return false;" role="button"> <i class="bi bi-cart-check"></i><span>Purchases</span> <i class="bi bi-chevron-right"></i></a></li>
                                    <section class="child-list" id="child-list-purchase">
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-list"></i><span>Purchase List</span></a></li>
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-plus"></i><span>Add Purchase</span></a></li>
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-pen"></i><span>Edit Purchase</span></a></li>
                                    </section>

                                
                                    <li class="menu-li-item"><a href="#" onclick="showMenuChild('child-list-coupon'); return false;" role="button"> <i class="bi bi-percent"></i><span>Coupons</span> <i class="bi bi-chevron-right"></i></a></li>
                                    <section class="child-list" id="child-list-coupon">
                                        <li class="menu-li-item content"  ><a href="#"> <i class="bi bi-list"></i><span>Coupon List</span> </a></li>
                                        <li class="menu-li-item content"  ><a href="#"> <i class="bi bi-plus"></i><span>Add Coupon</span> </a></li>
                                        <li class="menu-li-item content"  ><a href="#"> <i class="bi bi-pen"></i><span>Update Coupon</span> </a></li>
                                    </section>
                                <!-- end of Sales & Coupons-->
                                
                                <!-- Store Front-->
                                <li class="content-description">Store Front</li>

                                
                                    <li class="menu-li-item"><a href="#" onclick="showMenuChild('child-list-store-section'); return false;" role="button"> <i class="bi bi-tags"></i><span>Store Section</span> <i class="bi bi-chevron-right"></i></a></li>
                                    <section class="child-list" id="child-list-store-section">
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-list"></i><span>Section List</span></a></li>
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-plus"></i><span>Add Section</span></a></li>
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-pen"></i><span>Edit Section</span></a></li>

                                    </section>

                                
                                    <li class="menu-li-item"><a href="#" onclick="showMenuChild('child-list-banner'); return false;" role="button"> <i class="bi bi-flag"></i><span>Store Banner</span> <i class="bi bi-chevron-right"></i></a></li>
                                    <section class="child-list" id="child-list-banner" >
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-list"></i><span>Show Banner</span></a></li>
                                        <li class="menu-li-item content" ><a href="#"> <i class="bi bi-pen"></i><span>Edit Banner</span></a></li>
                                    </section>

                                
                                <li class="menu-li-item"><a href="#" onclick="showMenuChild('child-list-advert'); return false;" role="button"> <i class="bi bi-badge-ad"></i><span>Advert Banner</span> <i class="bi bi-chevron-right"></i></a></li>
                                    <section class="child-list" id="child-list-advert">
                                        <li class="menu-li-item content"  ><a href="#"> <i class="bi bi-list"></i><span>Advert List</span> </a></li>
                                        <li class="menu-li-item content"  ><a href="#"> <i class="bi bi-plus"></i><span>Add Advert</span> </a></li>
                                        <li class="menu-li-item content"  ><a href="#"> <i class="bi bi-box-seam"></i><span>Update Advert</span> </a></li>
                                    </section>

                                
                                <li class="menu-li-item"><a href="#" role="button"> <i class="bi bi-person-badge"></i><span>Logo</span> <i class="bi bi-chevron-right"></i></a></li>
                                    <section class="child-list" >
                                        <li class="menu-li-item content"  ><a href="#"> <i class="bi bi-box-seam"></i><span>View Logo</span> </a></li>
                                        <li class="menu-li-item content"  ><a href="#"> <i class="bi bi-plus"></i><span>Add Logo</span> </a></li>
                                        <li class="menu-li-item content"  ><a href="#"> <i class="bi bi-box-seam"></i><span></span> </a></li>
                                    </section>
                                <!-- end of Store Front-->

                                <!-- Sales & Coupons-->
                                <li class="content-description">Analytics</li>

                                <li class="menu-li-item"><a href="#" role="button"> <i class="bi bi-person-circle"></i><span>Profile</span></a></li>
                                   
                                <li class="menu-li-item">
                                    <form>
                                        <button ><i class="bi bi-box-arrow-right"></i><span>Logout</span> </button>
                                    </form>
                                    
                                    
                                   
                              
                                    
                                <!-- end of Sales & Coupons-->
                            </ul>

                        </div>

                        
                    </div>


                    <!-- main page wrap -->
                    <div class="main-page-wrapper">
                        <!-- main page: header wrap row  -->
                        <div class="rows header-row sticky-row with-box-shadow">
                            <div class="lg-nodisplay menu-btn-wrap" id="menu-open-button">
                                <button class="menu-open-button" role="button" onclick="document.getElementById('menu_wrapper').style.display = 'block'"><i class="bi bi-list"></i> </button>
                            </div>
                            <div class="brand">
                                <img class="logo" src="{{asset('admincontent/images/logo/logo.png') }}" alt="brand logo" title="logo">
                            </div>
                            <div >
                                <form class="header-search-form">
                                    <div class="input-group ">
                                        <input type="text" class="form-control search-input" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                        <button class="search-btn darkblue-bg color-cream" type="submit" id="button-addon1"><i class="bi bi-search search-btn"></i></button>
                                      </div>                                      
                                </form>
                            </div>
                            <div class="avatar-notification-wrap">
                                <div class="notifications" role="button" onclick="document.getElementById('notification-wrap').style.display = 'block'"><i class="bi bi-bell"></i><span class="notification-count darkblue-bg color-cream">5</span></div>

                                <div class="profile-details" role="button" onclick="document.getElementById('extra-details').style.display = 'block'"><img class="user-image" src="{{asset('admincontent/images/avatars/avartar-user.jpg') }}" ></div>
                            </div>
                            
                        </div>
                        
                        <!-- main page: roles-wrap wrap row  -->
                        <section class="scroll-y">
                            <div>
                                <div class="header-details">
                                    <div>
                                        <div class="order-id-wrap">
                                            <h6 class="">New Brand </h6>
                                            
                                        </div>
                                        
                                       <small class="order-extra-details">Add new brands here</small>
                                    </div>
                                    <div class="delete-order-container">
                                        <div><a role="button" class="red-bg color-red button-1 no-text-deco">View Brands</a></div>
                                    </div>
                                </div>

                                <div class="padding-5">
                                    <form >
                                        <div>
                                            <div class="banner_image_preview_wrap" id="">
                                                <div id="image_preview_wrap" class="banner_image_preview_container banner-slider-images-preview">
                                                    <div class="banner-image-preview" >
                                                        <img class="setImagePreview" src="{{asset('admincontent/images/banner/3.jpg') }}" id="banner1"/>
                                                        <div class="preview-image-details">
                                                            <p class="preview-image-name">image-name.jpg</p>
                                                            <p class="preview-image-size">1.3KB</p>
                                                           
                                                        </div>
                                                    </div>
                                                    <div class="banner-image-preview">
                                                        <img class="setImagePreview" src="{{asset('admincontent/images/banner/3.jpg') }}" id="banner2"/>
                                                        <div class="preview-image-details">
                                                            <p class="preview-image-name">image-name.jpg</p>
                                                            <p class="preview-image-size">1.3KB</p>
                                                           
                                                        </div>
                                                    </div>
                                                    <div class="banner-image-preview">
                                                        <img class="setImagePreview" src="{{asset('admincontent/images/banner/3.jpg') }}" id="banner3" />
                                                        <div class="preview-image-details">
                                                            <p class="preview-image-name">image-name.jpg</p>
                                                            <p class="preview-image-size">1.3KB</p>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                               
                                            </div>
                                        </div>
                                        <div class="lg-grid-70-30 ">
                                            <div class=" grid-col-70 ">
                                               
                            
                                                <div class="product-image-dropzone mt-20 mt-20-sm mt-20 mt-20-sm with-box-shadow white-bg rounded-edges padding-20">
                                                    <div><h6 class="product-name">Product Images</h6></div>
                                                    <div class="file-upload-wrapper">
                                                        <div  class="upload-info">
                                                            <p ><i class="bi bi-cloud-upload"></i></p>
                                                            <p class="drag-drop">drag and drop images here</p>
                                                            <p class="drag-drop">Click and hold ctrl to select multiple images</p>
                                                            <button class="upload-product-images">click to upload</button>
                                                        </div>
                                                        
                                                        <input type="file" id="banner-images-input" multiple class="product-image-upload file-upload" data-height="500"/>
                                                     </div>
                                                </div>
                                                
                                                <div class="row form-row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                           <button class="btn btn-primary green-bg color-green button-2">Set Banner</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                           
                                        </div>
                                    </form>
                                </div>
                                
                                
                            </div>
                            
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                        </section>
                    </div>
                </div>

                <!-- extra details for notification, available on click -->
                <div class="notification-wrap with-box-shadow white-bg" id="notification-wrap">
                    <div class="notification-header-profile">
                        <div><h2>Notifications</h2></div>
                        <div class="close-extra" role="button" onclick="document.getElementById('notification-wrap').style.display = 'none'">
                            <i class="bi bi-x "></i>
                        </div>
                    </div>
                    <div class="notifications-table">
                        <table class="table ">
                            <tbody>
                                <tr class="">
                                    <td class="notifier-image"><img src="{{asset('admincontent/images/avatars/1.png') }}" class="user-image rounded-image" ></td>
                                    <td>
                                        <a href="#" class="no-text-deco" style="color: rgb(40, 40, 40);">
                                            <p class="notifier"><strong>Virtue Egerega</strong></p>
                                        <p class="notification-message">Hello Admins, We have a meeting at 4pm fridnotification-messageanotification-message...</p>
                                       
                                        </a>
                                        
                                    </td>
                                    <td class="time-passed">10 min ago</td>
                                </tr>
                                <tr>
                                    <td class="notifier-image"><img src="{{asset('admincontent/images/avatars/1.png') }}" class="user-image rounded-image" ></td>
                                    <td>
                                        <p class="notifier"><strong>Virtue Egerega</strong></p>
                                        <p class="notification-message">Hello Admins, We have a meeting at 4pm fridnotification-messageanotification-message...</p>
                                       
                                    </td>
                                    <td class="time-passed">10 min ago</td>
                                </tr>
                                <tr>
                                    <td class="notifier-image"><img src="{{asset('admincontent/images/avatars/1.png') }}" class="user-image rounded-image" ></td>
                                    <td>
                                        <p class="notifier"><strong>Virtue Egerega</strong></p>
                                        <p class="notification-message">Hello Admins, We have a meeting at 4pm fridnotification-messageanotification-message...</p>
                                       
                                    </td>
                                    <td class="time-passed">10 min ago</td>
                                </tr>
                                <tr>
                                    <td class="notifier-image"><img src="{{asset('admincontent/images/avatars/1.png') }}" class="user-image rounded-image" ></td>
                                    <td>
                                        <p class="notifier"><strong>Virtue Egerega</strong></p>
                                        <p class="notification-message">Hello Admins, We have a meeting at 4pm fridnotification-messageanotification-message...</p>
                                       
                                    </td>
                                    <td class="time-passed">10 min ago</td>
                                </tr>
                                <tr>
                                    <td class="notifier-image"><img src="{{asset('admincontent/images/avatars/1.png') }}" class="user-image rounded-image" ></td>
                                    <td>
                                        <p class="notifier"><strong>Virtue Egerega</strong></p>
                                        <p class="notification-message">Hello Admins, We have a meeting at 4pm fridnotification-messageanotification-message...</p>
                                       
                                    </td>
                                    <td class="time-passed">10 min ago</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <!-- extra details for notification ends here, available on click -->
                <!-- extra details for profile, available on click -->
                <div class="extra-details with-box-shadow white-bg" id="extra-details">
                    <div class="header-profile">
                        <div><img class="user-image" src="{{asset('admincontent/images/avatars/avartar-user.jpg') }}"></div>
                        <div>
                            <p class="user-name">Valex Benjamin</p>
                            <p class="user-role">Super Admin</p>
                        </div>
                        <div class="close-extra" role="button" onclick="document.getElementById('extra-details').style.display = 'none'">
                            <i class="bi bi-x "></i>
                        </div>
                    </div>
                    <div><a href="#" class="details-btn-hidden no-text-deco grey-bg-hover" title="view more"><i class="bi bi-person-check"></i>&nbsp;&nbsp;&nbsp;My Profile</a></div>
                    <div><a href="#" class="details-btn-hidden no-text-deco grey-bg-hover" title="view more"><i class="bi bi-gear"></i>&nbsp;&nbsp;&nbsp;Setting</a></div>
                    <form class="">
                        <div class="row form-row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="hidden" class="form-control">
                                    <button class="extra-details-btn delete-btn grey-bg-hover" type="submit" id="button-addon1"> <i class="bi bi-box-arrow-right"></i>&nbsp;&nbsp;&nbsp;Logout</button>

                                </div>
                            </div>
                                                            
                    </form>  
                </div>
                <!-- extra details for profile ends here, available on click -->
                
                
            </section>
        </div>

        <script type="text/javascript">  
            function showChildList(childname){
                var childList = document.getElementById(childname)
                childList.classList.remove("class_list_before_click");
                childList.setAttribute('class', 'child-list' )
            }

        </script>
        <script type="text/javascript" src="scripts/imagepreview.js') }}"></script>
        <script type="text/javascript" src="scripts/product-form.js') }}"></script>
        <script type="text/javascript" src="scripts/menu.js') }}"></script>
        <script type="text/javascript" src="scripts/sliders.js') }}"></script>
    </body>
    
</html>