:root{
    --darkblue: #0f2a3d;
    --lightblue: #719ebd;
    --cream: #ffefce;
    --yellow: #ffa439;
    --greytextcolor: #6f6b7d;
    --border-grey:rgba(128, 128, 128, 0.162);
}


.rows {
    width: 100%;
}

.with-box-shadow{
    box-shadow: -1px 1px 7px 2px rgba(206,206,206,0.73);
    -webkit-box-shadow: -1px 1px 7px 2px rgba(206,206,206,0.73);
    -moz-box-shadow: -1px 1px 7px 2px rgba(206,206,206,0.73);
} 

/* background colors */
.white-bg{
    background-color: white;
}

.purple-bg{
    background-color: rgba(108, 7, 159, 0.215);
}

.darkblue-bg{
    background-color: var(--darkblue) !important;
}

.lightblue-bg{
    background-color: var(--lightblue) !important;
}

.red-bg{
    background-color: rgba(255, 13, 0, 0.222);
}

.blue-bg{
    background-color:#d9f8fc !important;
}

.green-bg{
    background-color: rgba(47, 193, 47, 0.222);
}
.yellow-bg{
    background-color: #fff1e3;
}
/*  colors */
.color-cream{
    color: var(--cream) !important;
}
.color-white{
    color: white !important;
}

.color-blue{
    color: #00cfe8 ;
}

.color-green{
    color: #28c76f;
}

.color-red{
    color: rgb(172, 1, 1);
}

.color-yellow{
    color: #ff9f43;
}

.color-purple{
    color: rgb(112, 10, 163);
}


/* fonts */
.font-20{
    font-size: 20px;
}

.font-30{
    font-size: 30px;
}
.font-40{
    font-size: 40px;
}


.page-wrapper{
    font-family: 'Montserrat', sans-serif !important;
}

.small-text{
    font-size: 14px;
}
.grey-text{
    color: var(--greytextcolor) ;
}

.lightblue-text{
    color: var(--lightblue);
}
/* fonts end*/

.no-text-deco{
    text-decoration: none;
}

.yellow-circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--yellow);
}
.green-circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(47, 255, 47);
}
.blue-circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(40, 86, 223);
}
.red-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.grey-bg-hover:hover{
    width: 100%;
    background-color: #719fbd13;
    border-radius: 5px;
}

/* images */
.rounded-image{
    border-radius:50% ;
}

.text-truncate{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rounded-edges{
    border-radius: 5px;
}
.delete-btn{
    color: red;
}

