.display-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}
.space-left {
    justify-content:left;
}
.center {
    justify-content: center;
}
.f-left{
    float: left;
}

.f-right{
    float: right;
}
.width-10-percent {
    width: 10%;
}

.width-20-percent {
    width: 20%;
}
.width-25-percent {
    width: 25%;
}

.width-30-percent {
    width: 30%;
}
.width-33-percent{
    width: 33%;
}
.width-40-percent {
    width: 40%;
} 
.width-50-percent {
    width: 50%;
}
.width-60-percent {
    width: 60%;
}
.width-65-percent{
    width: 65%;
}
.width-70-percent {
    width: 70%;
}

.width-80-percent {
    width: 80%;
}

.width-90-percent {
    width: 90%;
}

.width-100-percent {
    width: 100%;
}

.text-center{
    text-align: center;
}

.text-16{
    font-size: 16px;
}
.text-17{
    
font-size: 17px;
}

.text-18{
    font-size: 18px;
}

